body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  border-radius: 50px;
  outline:none;
  margin: 10px;
}

.rowStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.columnStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topicContainer {
    margin: 10px;
    background-color: lightBlue;
    padding: 10px;
    border-radius: 30px;
    width: 250px;
}

.topicInline {
    display: inline-block;
}

.voteContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.upvoteContainer {
  background-color: lightgreen;
  border-radius: 20px;
}

.downvoteContainer {
  background-color: lightpink;
  border-radius: 20px;
}

.totalVoteContainer {
  background-color: yellow;
  height: auto;
  padding: 5px;
}

.warningText {
  color: red;
}
